---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     50px;

$nav-bar-size:     200px;

$text-color:       #333;
$background-color: #fdfdfd;

// http://brandcolors.net/ + mailchimp
$brand-color:      #449a88; // green
$brand-sec:        #2c9ab7; // blue
$brand-highlight:  #febe12; // yellow
$brand-alert:      #db3a1b; // red
$brand-dark:       #373737; // dark gray

$dialexa-dark:     #353E44;
$dialexa-gold:     #D6B064;

$txg-red:          #842427;
$txg-blue:         #7DB6ED;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include bp($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin bp($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "grid",
        "syntax-highlighting",
        "components/btns",
        "components/home-hero",
        "components/home-work",
        "components/home-txg"
;
